@charset "UTF-8";

body, html{
    margin: 0;
}
.imagem{
    background-image: url("milkshake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
h1{
    display: block;
    background-color: #ffbcb8c5;
    width: 400px;
    height: 40px;
    padding: 10px 5px;
    margin: 10px auto;
    border-radius: 7px;
    text-align: center;
    font-size: 40px;

}
main{
    display: block;
    background-color: #ffbcb8c5;
    width: 500px;
    padding: 1px 10px;
    margin: auto;
    border-radius: 7px;
    font-size: 16px;
}
.nome, .comentario, button{
    background-color: #7f4441a6;
    margin-top: 5px;
}
